<h1 mat-dialog-title>About Ring Of Fire</h1>
<div mat-dialog-content>
  <p>Ring of Fire is a drinking game played with a standard deck of cards, with each card representing a specific action or rule. The game ends when all cards are drawn, with the last player to draw having to finish the cup in the center. Create at least one player and pick a card!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium consequatur, cupiditate neque ullam aliquam eligendi cumque tempora nihil at fuga vel doloremque necessitatibus eveniet quisquam hic, nisi, deleniti eos ut!</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok Thanks</button>
</div>