<h1 mat-dialog-title>About Ring Of Fire</h1>
<div mat-dialog-content>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium consequatur, cupiditate neque ullam aliquam eligendi cumque tempora nihil at fuga vel doloremque necessitatibus eveniet quisquam hic, nisi, deleniti eos ut!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium consequatur, cupiditate neque ullam aliquam eligendi cumque tempora nihil at fuga vel doloremque necessitatibus eveniet quisquam hic, nisi, deleniti eos ut!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium consequatur, cupiditate neque ullam aliquam eligendi cumque tempora nihil at fuga vel doloremque necessitatibus eveniet quisquam hic, nisi, deleniti eos ut!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium consequatur, cupiditate neque ullam aliquam eligendi cumque tempora nihil at fuga vel doloremque necessitatibus eveniet quisquam hic, nisi, deleniti eos ut!</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok Thanks</button>
</div>