<mat-toolbar color="basic">
    <span translate>Ring Of Fire</span>
    <span class="icon-spacer"></span>
    <button mat-icon-button (click)="openDialog()"><mat-icon>person_add</mat-icon></button>
    <button mat-icon-button (click)="shareGame()"><mat-icon>share</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-position"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchLanguage()"><span translate>Switch language</span></button>
        <button mat-menu-item (click)="openAboutDialog()"><span translate>About</span></button>
        <button mat-menu-item (click)="openExitDialog()"><span translate>Leave game</span></button>
    </mat-menu>
</mat-toolbar>


<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"
    [ngStyle]="{'top.px': 80 + (i * 80)}" [playerActive]="i == game.currentPlayer" [name]="player"
    [image]="game.player_images[i]" class="player-position hide-mobile"></app-player>

<div class="scroll-container hide-desktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"
        [playerActive]="i == game.currentPlayer" [name]="player" [image]="game.player_images[i]"
        class="hide-desktop"></app-player-mobile>
</div>

<!-- Game area -->
<div *ngIf="!gameOver" class="field" style="background-image: url('./assets/img/background.jpg'); background-size: cover;">
    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor="let card of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="assets/img/cards/card_cover.png">
        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png">

        <!-- Current card (animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px"
            src="assets/img/cards/{{ game.currentCard }}.png">
        </div>

        <!-- Preload the next card -->
        <img class="preloadImage" src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png">
    </div>
    
<!-- Game over screen -->
<div *ngIf="gameOver" class="gameOver"><img src="./assets/img/game-over.jpg" alt="" srcset=""></div>

<!-- Text area at bottom -->
    <!-- Text area for card related content displayed when game is playable -->
    <div *ngIf="gamePlayable">
    
    <app-game-info [card]="game.currentCard" class="card-bottom"></app-game-info>
</div>

    <!-- Text area for instructions displayed when game is not playable -->
<mat-card *ngIf="!gamePlayable" class="card-bottom">
    <mat-card-title style="padding: 8px 16px"><span translate>Please create a player to </span><span
            *ngIf="game.playedCards.length === 0;" translate="">start</span><span
            *ngIf="game.playedCards.length > 0;" translate="">continue</span></mat-card-title>
    <mat-card-content><span translate>Please create add least one player by clicking the "+" button</span></mat-card-content>
</mat-card>