.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        font-size: 128px;
        font-weight: 800;
        color: white;
        margin-bottom: 100px;
        color: red;
    }

    button {
        font-size: 80px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: yellow;
        }
    }
}